version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    docker:
      - image: circleci/python:3.5-buster-node-browsers-legacy
      - image: circleci/postgres:9.6.5-alpine-ram
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: ''
    steps:
      - checkout
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
          name: install dep
      - run:
          command: |
            . venv/bin/activate
            pip install -r requirements/local.txt
          name: install other dep
      - run:
          command: | 
            . venv/bin/activate
            pytest
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
